<%# <%= link_to 'New Comment', new_comment_path, class: 'btn btn-secondary mt-3', style: 'margin-top: 10px'%>

<% @comments.each do |comment| %>
  <% user_id = comment.user_id %>
  <% user = User.find(user_id) %>
  <% post_id = comment.post_id %>
  <% post = Post.find(post_id) %>

  <div class="card border-0 shadow-sm mb-3" style="background-color: white;">
    <div class="card-body p-3">
      <div class="d-flex align-items-center mb-2 justify-content-between">
        <h6 class="card-subtitle mb-0">
          "<%= post.title %>"
        </h6>
        <h6 class="card-subtitle mb-0">
          <%= user.name %>
        </h6>
      </div>

      <br>

      <p class="card-text mb-2"> <%= comment.body%></p>
      <div class="d-flex justify-content-between">
        <div>
          <a href="#" class="card-link"><%= link_to 'Show', comment_path(comment), class: 'btn text-muted p-0 mr-2' %></a>
          <a href="#" class="card-link"><%= link_to 'Edit', edit_comment_path(comment), class: 'btn text-muted p-0 mr-2'%></a>
          <a href="#" class="card-link"><%= link_to 'Destroy', comment, data: { turbo_confirm: 'Are you sure?', turbo_method: "delete"}, class: 'btn text-muted p-0 mr-2'%></a>
        </div>
        <div>
          <button type="button" class="btn btn-link text-secondary p-0 mr-2"><i class="far fa-heart"></i></button>
          <button type="button" class="btn btn-link text-secondary p-0"><i class="fas fa-retweet"></i></button>
        </div>
      </div>
    </div>
  </div>
<% end %>